<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Feedbacks pour {{ job.title }}</h1>

<ul>
  {% for feedback in feedbacks %}
    <li>{{ feedback.content }} - par {{ feedback.author }}</li>
  {% empty %}
    <li>Aucun feedback pour ce corps de métier.</li>
  {% endfor %}
</ul>

<a href="{% url 'job_list' %}">Retour à la liste des jobs</a>

</body>
</html>